<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Palabras Encadenadas</title>
		<meta  charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<meta name="theme-color" content="#eba653"/>
		<meta name="description" content="
		Author: Beltran Aceves,
		Description: Simple Todo PWA with Elixir backend">
		<link rel="icon" type="image/x-icon" href="./static/icon.png" />
		<link
		href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
		rel="stylesheet"
		/>
		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
		crossorigin="anonymous"
		/>
		<link rel="stylesheet"  href="./static/todo.css"/>
		<link defer rel="manifest" href="./static/manifest.json"/>
	</head>
	<body>
		<script>
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register('./service-worker.js')
						.then(function (registration) {
							console.log('Service worker registered successfully');
						}
						).catch(function (e) {
							console.error('Error during service worker registration:', e);
						}
						);	
				}
		</script>
		<header>
		<h1>Palabras Encadenadas</h1>
		</header>
		<div class="center-div">
			<h2>La palabra es:<h2>
			<h2><%= siguiente %></h2>
			<h2 class="error"><%= error %></h2>
			<form method="POST" action="/respuesta">
				<input type="hidden" name="username" value="<%= credenciales |> Enum.at(0) %>">
				<input type="hidden" name="pwd" value="<%= credenciales |> Enum.at(1) %>">
				<input type="text"
					id="new-item"
					placeholder="Respuesta"
					name="question"
					pattern=".{1,}"
					required
					aria-label="Respuesta"
					accept-charset="UTF-8"/>
				<%=  for entrada <- historial do  %>
					<input type="hidden" name="entrada" value="<%= entrada %>">
				<%  end  %>
				<button class="todo-button" type="submit" value="Add new item" id="add-new-item" aria-label="Add new Todo item">
				<i class="fas fa-plus-square"></i>
				</button>
			</form>
		</div>
		<div class="todo-container">
			<h2>Historial</h2>
			<%=  for entrada <- historial do  %>
				<ul class="todo-list">
					<div class="todo" style="display: flex;">
						<li  class="todo-item"><%= entrada %></li>
					</div>
				</ul>
			<%  end  %>
		</div>
		<form action="/">
			<button type="submit" class="btn btn-primary">Logout</button>
		</form>
	</body>
</html>